* {
    padding: 0;
    margin: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZq0LhFwG9MhgRcWxm0PaZRFdzKhuqPqXccA&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem 5rem;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 20rem;
  }
  .password {
    border: none;
    outline: none;
    padding: 5px;
    background-color: none;
    margin: 1rem 0;
    border-bottom: 2px solid #666;
    width: 18rem;
    margin-left: 0.5rem;
  }
  .email {
    border: none;
    outline: none;
    padding: 5px;
    background-color: none;
    width: 18rem;
    margin: 1rem 0rem;
    border-bottom: 2px solid #666;
  }
  .checkbox {
    padding-left: 2px;
  }
  .belowContent {
    display: flex;
    justify-content: space-between;
  }
  .emailIcon {
    width: 3rem;
    height: 3rem;
  }
  .passwordIcon {
    width: 1.2rem;
    height: 1.2rem;
  }
  .emailCont {
    display: flex;
    align-items: center;
  }
  .passwordCont {
    display: flex;
    align-items: center;
  }
  .rememberMe {
    display: flex;
    margin-right: 3rem;
  }
  .ForgotPassword {
    margin-left: 3rem;
  }
  .btn {
    padding: 0.5rem 3rem;
    border-radius: 10px;
    background-color: orangered;
    border: none;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
  }